body {
    width: 90%;
    background-color: #EEEEEE;
    font-family: Helvetica;
    margin-left: auto;
    margin-right: auto;
}
#dane,#tresc
{
    color: Navy;
}
.inpucik
{
    background-color: aqua;
}
td
{
  color: blue;
}
.gora {
    background-color: LightBlue;
    width: 100%;
    height: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}
h2{
    color: Navy;
}
#logo {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    gap: 20px;
    margin-left: auto;
}

#logo img {
    height: 80px;
}

.nav a {
    color: Navy;
    font-size: 150%;
    text-decoration: none;
}

.nav a:hover {
    text-decoration: underline;
}

.baner
{
    background-color: #DDDDDD;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}